<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link rel="stylesheet" type="text/css" href="../css/solicitudes.css" />

    <title>Solicitudes</title>
</head>

<body>
    <div id="app">
        <v-app>
            <v-main>
                <div>
                    <ul>
                        <li class="dropdown">
                            <a href="javascript:void(0)" class="dropbtn" style="color:white">Horario</a>
                            <div class="dropdown-content">
                                <a onclick="location.href='HorarioProfe.html'" style="color:white">Profesor</a>
                            </div>
                        </li>
                        <li class="dropdown" style="float:right">
                            <a href="javascript:void(0)" class="dropbtn" style="color:white">CUENTA</a>
                            <div class="dropdown-content">
                                <a style="color:white" onclick="location.href='Login.html'">Cerrar Seccíon</a>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="encabezado"> Horario Profesor </div>


                <v-container grid-list-xl>
                    <v-layout row wrap>
                        <v-flex md4 v-for="info of Horario">


                            <v-card class="mx-auto" color="teal lighten-4" max-width="500">
                                <v-card-title>
                                    {{info.materia}}
                                </v-card-title>
                                <v-card-subtitle>
                                    {{info.dia}}  / {{info.hora_inicio}} - {{info.hora_fin}}
                                </v-card-subtitle>

                                <v-card-actions>


                                    <v-btn block elevation="2" icon large outlined tile @click="info.show = !info.show, info.showEstu =false, info.showUbi =false">
                                        <v-icon>{{ info.show ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
                                    </v-btn>
                                </v-card-actions>

                                <v-expand-transition>
                                    <div v-show="info.show">
                                        <v-divider></v-divider>
                                        <v-card-text>
                                            Grupo: {{info.id_grupo}}
                                        </v-card-text>
                                        <v-divider></v-divider>
                                        <v-card-text>
                                            Aula: {{info.aula}}
                                        </v-card-text>
                                        <v-divider></v-divider>
                                        <v-btn text block @click="info.showEstu = !info.showEstu, grupo=info.codgrupo " class="default">Estudiantes</v-btn>
                                        <v-divider></v-divider>
                                        <v-btn text block @click="info.showUbi = !info.showUbi" class="default">Ubicacion: {{info.Edificio}}</v-btn>
                                        <v-divider></v-divider>
                                    </div>
                                </v-expand-transition>
                                <v-expand-transition>
                                    <div v-show="info.showEstu">
                                        <v-divider></v-divider>
                                        <v-card-text v-for="info of Estudiante">
                                          
                                            {{info.id}} - {{info.nomb}}

                                        </v-card-text>
                                    </div>
                                </v-expand-transition>

                                <v-expand-transition>
                                    <div v-show="info.showUbi">
                                        <v-card-text>
                                            {{ info.ubicacion }}
                                        </v-card-text>
                                    </div>
                                </v-expand-transition>
                            </v-card>
                        </v-flex>
                    </v-layout>
                </v-container>
            </v-main>
        </v-app>

        <div>
            <v-footer style="margin-top: 175px; background-color: #253339; height: 100px">
                <v-row justify="center">
                    <v-col class=" text-center white--text" cols="12">{{ new Date().getFullYear() }} -
                        <strong>Administración y Programación de Sitios Web CUC </strong>
                    </v-col>
                </v-row>
            </v-footer>
        </div>

    </div>



    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.js"></script>
    <script src="../js/appHProfe.js"></script>
</body>

</html>
